{
    "presets": ["@babel/preset-env"]
     ,
    "ignore": [
        "node_modules",
        "public",
        "client",
        "./.env",
        "./.gitattributes",
        "./.gitignore",
        "./node_modules",
        "./.README.md"
    ]
  }